.eye {
  height: 20vh;
  //   border: 2px solid red;
  display: flex;
  justify-content: center;
  img {
    height: 20%;
    margin-top: 5rem;
    margin-left: 55rem;
    opacity: 0.5;
    cursor: pointer;
  }
}
